## Big Data Mining
### Project 2
### 2019-2020

Kyriakos   Zormpas  
Alexandros Zotos  
Theodora  Koutsothanasi  
Evangelia Santorinaiou  dsc19024

## Libraries

In [ ]:
#!pip install namegenerator

In [1]:
import pandas as pd
import numpy as np

import namegenerator
from datetime import datetime, timedelta
import random
import time

### Dataset Creation

Our scenario in order to build our dataset is that we have all the restaurants of the world, name, id, when they were founded and their age, their coordinates, their speciality and their reviews.

In [2]:
def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))

def random_date(start, end, prop):
    return str_time_prop(start, end, '%m/%d/%Y', prop)

In [26]:
def get_latitude_longititude():
    df = pd.read_csv('World.csv')
    return df

In [30]:
df = get_latitude_longititude()[:100]
df

   Country               City   Latitude  Longitude
0       ad              aixas  42.483333   1.466667
1       ad         aixirivali  42.466667   1.500000
2       ad            andorra  42.500000   1.516667
3       ad          ansalonga  42.566667   1.516667
4       ad              anyos  42.533333   1.533333
5       ad              arans  42.583333   1.516667
6       ad            aubinya  42.450000   1.500000
7       ad             el pui  42.550000   1.516667
8       ad          el serrat  42.616667   1.550000
9       ad          engordany  42.516667   1.550000
10      ad            juberri  42.433333   1.500000
11      ad              llors  42.600000   1.533333
12      ae           abu dabi  24.466667  54.366667
13      ae           abu hail  25.285475  55.329611
14      ae      ad dharbaniya  25.783333  55.933333
15      ae              adgat  25.498669  56.358302
16      ae          adh dhaid  25.288123  55.881571
17      ae              adhin  25.460122  56.012562
18      ae             afarah  25.041055  56.314853
19      ae               `ain  24.212717  55.783488
20      ae      ain al ghamur  24.959508  56.315852
21      ae              ajima  25.398308  56.150726
22      ae            akamiya  25.600312  56.269097
23      ae        al abadilah  25.453529  56.189910
24      ae             al ain  24.191667  55.760556
25      ae           al ajman  25.406942  55.444126
26      ae         al badiyah  25.432273  56.345736
27      ae         al bithnah  25.189507  56.235157
28      ae            al dini  25.932264  56.405128
29      ae            al duss  25.907278  56.393000
..     ...                ...        ...        ...
70      ae             `arada  22.992313  53.428915
71      ae             araibi  25.789452  55.976649
72      ae          ar ru'ays  24.110278  52.730556
73      ae       as salihiyah  25.721613  55.990811
74      ae        as saqamqam  25.174666  56.330388
75      ae             athaba  25.163564  56.096190
76      ae            `awanat  25.365847  55.856185
77      ae             ayaina  25.452828  56.168790
78      ae      ayn al faidah  24.083333  55.683333
79      ae            barahah  25.266667  55.316667
80      ae             batain  24.442901  54.355388
81      ae  bidayarat margham  24.870768  55.549053
82      ae         bid' zayed  23.630726  53.729897
83      ae            bilaida  25.223877  56.202213
84      ae            chuwais  25.781020  55.978696
85      ae    daba al-ghurfah  25.597686  56.276736
86      ae       daba al-hisn  25.619547  56.272912
87      ae              dabei  25.258172  55.304717
88      ae              dadna  25.524217  56.358680
89      ae              dafir  23.127315  53.754393
90      ae              dafta  25.272255  56.183534
91      ae              daira  25.273069  55.306374
92      ae               dasa  24.278385  52.623689
93      ae             dhaiah  25.887843  56.058239
94      ae          dhawaihir  23.283333  53.200000
95      ae          dhuwaiher  23.139159  53.693403
96      ae           digdagga  25.665602  55.969045
97      ae           duwayhin  23.077341  54.084222
98      ae            fahlain  25.684119  55.967495
99      ae            faiyada  24.957746  56.205983

[100 rows x 4 columns]

In [19]:
restaurant_df = pd.DataFrame(columns=['id', 'name', 'cid', 'sid', 'rid', 'founded', 'age'])


for i in range(100):
    r_date = random_date("01/01/2008", "12/31/2019", random.random())
    
    restaurant_df.loc[i] = [np.random.randint(100000, 999999), 
                                   namegenerator.gen(), 
                                   np.random.randint(100000, 999999), 
                                   np.random.randint(10000, 99999), 
                                   np.random.randint(100000, 999999),  
                                   r_date, 
                                   int(str(datetime.today())[:4]) - int(r_date[6:])]

In [20]:
restaurant_df

        id                        name     cid    sid     rid     founded age
0   563601       gimpy-amber-cassowary  187033  88990  995927  11/28/2014   5
1   908784           dorky-brass-coati  131585  34484  688389  08/17/2017   2
2   324071       cloudy-eggplant-snake  359855  79550  681370  03/03/2018   1
3   499082      sleepy-magnolia-donkey  684467  62040  173253  08/07/2018   1
4   744153         leaky-magenta-civet  186919  26386  670133  02/05/2010   9
5   129283          ready-grey-mongrel  560628  75248  216437  08/24/2019   0
6   645445        dorky-gamboge-numbat  972416  50125  799355  05/26/2015   4
7   106082       frumpy-wisteria-crane  611975  86857  195226  02/21/2014   5
8   488204             baggy-rose-bear  956790  87929  541221  12/14/2016   3
9   200706        hazy-gamboge-lemming  785976  89891  922106  06/16/2016   3
10  372512     gummy-saffron-retriever  829834  92621  212211  08/22/2010   9
11  800291            lumpy-pear-camel  344203  87092  672881  05/25/2011   8
12  455027            seedy-yellow-emu  818130  18692  557198  06/26/2012   7
13  347731      scummy-peach-centipede  941094  16486  833682  04/27/2015   4
14  459709        goopy-orange-mastiff  898039  47279  154558  11/04/2014   5
15  308560          leaky-corn-termite  539131  69812  834747  07/16/2008  11
16  678464     geeky-celadon-alligator  737334  65451  485842  12/09/2018   1
17  161354           ready-tomato-newt  961260  82059  331109  01/09/2018   1
18  440374         gloppy-rust-leopard  271235  40916  637187  05/06/2017   2
19  804487            cozy-aqua-setter  696501  76585  463434  04/14/2015   4
20  228085            beady-denim-chin  210798  94945  761202  04/24/2012   7
21  798500    craggy-cardinal-dormouse  247615  29350  938813  05/30/2016   3
22  606782        gimpy-magnolia-hound  806334  15582  847056  03/15/2016   3
23  737438         cheeky-brass-impala  373267  57493  505588  12/11/2011   8
24  809575           cranky-buff-devil  320657  80458  960336  01/23/2014   5
25  984782          freaky-plum-russel  757949  43430  808653  04/28/2008  11
26  736394            smelly-pink-mist  317105  66583  412150  05/12/2016   3
27  233602         hasty-tangerine-eel  721583  68717  359069  05/29/2012   7
28  701968       leaky-khaki-dachshund  575127  29739  767644  11/08/2016   3
29  396566        gummy-puce-spoonbill  624862  46412  207405  02/12/2016   3
..     ...                         ...     ...    ...     ...         ...  ..
70  857732         gimpy-beige-leopard  257481  93428  817293  06/25/2017   2
71  802702       snoopy-seashell-lemur  734261  55810  942202  03/03/2010   9
72  508935          tasty-indigo-goose  586767  40907  762504  11/29/2012   7
73  542154           shaky-orange-seal  166451  12690  852649  02/21/2010   9
74  335284          gloppy-denim-skunk  140710  67286  513237  05/08/2009  10
75  322495        lanky-pear-millipede  658124  55514  762856  07/20/2015   4
76  317690         droopy-smalt-oyster  636273  41106  893016  10/25/2014   5
77  677867     messy-celadon-millipede  636630  83243  444955  05/20/2010   9
78  311775  lovely-dandelion-dalmatian  174792  29551  743569  04/25/2013   6
79  333963         scaly-xanthic-bongo  579378  90529  690975  02/22/2018   1
80  234338  gloppy-ultramarine-tarsier  424972  93895  515849  04/23/2014   5
81  770385        slaphappy-pink-husky  784119  86554  805416  12/04/2018   1
82  842063       beady-aquamarine-bird  510766  37986  704067  06/18/2013   6
83  484771      woolly-corn-kingfisher  888154  71367  895264  09/19/2015   4
84  321384       randy-chocolate-akita  926563  14725  879966  12/14/2019   0
85  558765          squeaky-blue-coral  787906  49316  334612  05/29/2012   7
86  571341   shaggy-olivine-chimpanzee  144443  66165  348489  08/18/2008  11
87  699692          baggy-olive-baboon  189415  64818  585389  08/26/2019   0
88  201253       wheezy-ecru-dragonfly  698436  57134  665851  02/19/2017   2
89  812962           lumpy-olive-bison  778435  52498  389749  11/05/2018   1
90  780441  cheeky-periwinkle-foxhound  679422  30040  777110  03/24/2014   5
91  461465        nippy-mustard-rabbit  892925  69504  672983  09/06/2016   3
92  135754           stuffy-bronze-owl  590045  61082  174709  07/09/2008  11
93  935339           scummy-wheat-frog  319442  12877  381787  02/28/2013   6
94  659200           fuzzy-ruby-grouse  323062  96632  793272  01/14/2016   3
95  209969       trippy-alizarin-mouse  357785  19755  435349  01/03/2009  10
96  274292  breezy-mustard-caterpillar  254070  71697  973719  10/30/2014   5
97  501703        stinky-black-leopard  886978  10676  797251  09/04/2015   4
98  756213         muggy-ivory-tamarin  925268  54205  291154  08/14/2018   1
99  221412     lousy-zucchini-balinese  657365  27291  196684  06/22/2008  11

[100 rows x 7 columns]

In [35]:
coordinates = pd.DataFrame(columns = ['id', 'latitude', 'longitude', 'city', 'country', 'continent'])

coordinates['id'] = restaurant_df['cid']
df_ll = get_latitude_longititude()[:100]
coordinates['latitude'] = df_ll['Latitude']
coordinates['longitude'] = df_ll['Longitude']
coordinates['city'] = df_ll['City']
coordinates['country'] = df_ll['Country']

coordinates

        id   latitude  longitude               city country continent
0   187033  42.483333   1.466667              aixas      ad       NaN
1   131585  42.466667   1.500000         aixirivali      ad       NaN
2   359855  42.500000   1.516667            andorra      ad       NaN
3   684467  42.566667   1.516667          ansalonga      ad       NaN
4   186919  42.533333   1.533333              anyos      ad       NaN
5   560628  42.583333   1.516667              arans      ad       NaN
6   972416  42.450000   1.500000            aubinya      ad       NaN
7   611975  42.550000   1.516667             el pui      ad       NaN
8   956790  42.616667   1.550000          el serrat      ad       NaN
9   785976  42.516667   1.550000          engordany      ad       NaN
10  829834  42.433333   1.500000            juberri      ad       NaN
11  344203  42.600000   1.533333              llors      ad       NaN
12  818130  24.466667  54.366667           abu dabi      ae       NaN
13  941094  25.285475  55.329611           abu hail      ae       NaN
14  898039  25.783333  55.933333      ad dharbaniya      ae       NaN
15  539131  25.498669  56.358302              adgat      ae       NaN
16  737334  25.288123  55.881571          adh dhaid      ae       NaN
17  961260  25.460122  56.012562              adhin      ae       NaN
18  271235  25.041055  56.314853             afarah      ae       NaN
19  696501  24.212717  55.783488               `ain      ae       NaN
20  210798  24.959508  56.315852      ain al ghamur      ae       NaN
21  247615  25.398308  56.150726              ajima      ae       NaN
22  806334  25.600312  56.269097            akamiya      ae       NaN
23  373267  25.453529  56.189910        al abadilah      ae       NaN
24  320657  24.191667  55.760556             al ain      ae       NaN
25  757949  25.406942  55.444126           al ajman      ae       NaN
26  317105  25.432273  56.345736         al badiyah      ae       NaN
27  721583  25.189507  56.235157         al bithnah      ae       NaN
28  575127  25.932264  56.405128            al dini      ae       NaN
29  624862  25.907278  56.393000            al duss      ae       NaN
..     ...        ...        ...                ...     ...       ...
70  257481  22.992313  53.428915             `arada      ae       NaN
71  734261  25.789452  55.976649             araibi      ae       NaN
72  586767  24.110278  52.730556          ar ru'ays      ae       NaN
73  166451  25.721613  55.990811       as salihiyah      ae       NaN
74  140710  25.174666  56.330388        as saqamqam      ae       NaN
75  658124  25.163564  56.096190             athaba      ae       NaN
76  636273  25.365847  55.856185            `awanat      ae       NaN
77  636630  25.452828  56.168790             ayaina      ae       NaN
78  174792  24.083333  55.683333      ayn al faidah      ae       NaN
79  579378  25.266667  55.316667            barahah      ae       NaN
80  424972  24.442901  54.355388             batain      ae       NaN
81  784119  24.870768  55.549053  bidayarat margham      ae       NaN
82  510766  23.630726  53.729897         bid' zayed      ae       NaN
83  888154  25.223877  56.202213            bilaida      ae       NaN
84  926563  25.781020  55.978696            chuwais      ae       NaN
85  787906  25.597686  56.276736    daba al-ghurfah      ae       NaN
86  144443  25.619547  56.272912       daba al-hisn      ae       NaN
87  189415  25.258172  55.304717              dabei      ae       NaN
88  698436  25.524217  56.358680              dadna      ae       NaN
89  778435  23.127315  53.754393              dafir      ae       NaN
90  679422  25.272255  56.183534              dafta      ae       NaN
91  892925  25.273069  55.306374              daira      ae       NaN
92  590045  24.278385  52.623689               dasa      ae       NaN
93  319442  25.887843  56.058239             dhaiah      ae       NaN
94  323062  23.283333  53.200000          dhawaihir      ae       NaN
95  357785  23.139159  53.693403          dhuwaiher      ae       NaN
96  254070  25.665602  55.969045           digdagga      ae       NaN
97  886978  23.077341  54.084222           duwayhin      ae       NaN
98  925268  25.684119  55.967495            fahlain      ae       NaN
99  657365  24.957746  56.205983            faiyada      ae       NaN

[100 rows x 6 columns]

In [ ]:
speciality = pd.DataFrame(columns = ['id', 'calories', 'price', 'name'])
review = pd.DataFrame(columns= ['id', 'name', 'rating'])