## Big Data Mining
### Project 2
### 2019-2020

Kyriakos   Zormpas  
Alexandros Zotos  
Theodora  Koutsothanasi  
Evangelia Santorinaiou  dsc19024

## Libraries

In [ ]:
#!pip install namegenerator

In [12]:
import pandas as pd
import numpy as np

import namegenerator
from datetime import datetime, timedelta
import random
import time

### Dataset Creation

Our scenario in order to build our dataset is that we have all the restaurants of the world, name, id, when they were founded and their age, their coordinates, their speciality and their reviews.

In [13]:
def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))

def random_date(start, end, prop):
    return str_time_prop(start, end, '%m/%d/%Y', prop)

To find the random latitude amd longitude we used worldcitiespop.csv and we kept the country and the city that match each combination. We did not use AccentCity column because it is the same with City but with accents thus it not provides additional information. Also we removed Population because most of the values were Nan and Region because we will not use it in our scenario.

In [14]:
def get_latitude_longititude():
    df = pd.read_csv('worldcitiespop.csv')
    return df.loc[:,['Country', 'City', 'Latitude', 'Longitude']]

In [18]:
df_lat = get_latitude_longititude()[:100]
df_lat

/home/eva/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

   Country                     City   Latitude  Longitude
0       ad                    aixas  42.483333   1.466667
1       ad               aixirivali  42.466667   1.500000
2       ad               aixirivall  42.466667   1.500000
3       ad                aixirvall  42.466667   1.500000
4       ad                 aixovall  42.466667   1.483333
5       ad                  andorra  42.500000   1.516667
6       ad         andorra la vella  42.500000   1.516667
7       ad          andorra-vieille  42.500000   1.516667
8       ad                  andorre  42.500000   1.516667
9       ad       andorre-la-vieille  42.500000   1.516667
10      ad          andorre-vieille  42.500000   1.516667
11      ad                ansalonga  42.566667   1.516667
12      ad                    anyos  42.533333   1.533333
13      ad                    arans  42.583333   1.516667
14      ad                  arinsal  42.566667   1.483333
15      ad                  aubinya  42.450000   1.500000
16      ad                  auvinya  42.450000   1.500000
17      ad                bicisarri  42.483333   1.466667
18      ad               bixessarri  42.483333   1.466667
19      ad                bixisarri  42.483333   1.466667
20      ad                  canillo  42.566667   1.600000
21      ad               casas vila  42.533333   1.566667
22      ad                  certers  42.466667   1.500000
23      ad                   certes  42.466667   1.500000
24      ad               eixirivall  42.466667   1.500000
25      ad                   el pui  42.550000   1.516667
26      ad                 els bons  42.533333   1.583333
27      ad                el serrat  42.616667   1.550000
28      ad                els plans  42.583333   1.633333
29      ad                el tarter  42.583333   1.650000
..     ...                      ...        ...        ...
70      ad            puiol del piu  42.566667   1.500000
71      ad                   ransol  42.583333   1.633333
72      ad  sanctuaire de meritxeli  42.550000   1.600000
73      ad  sanctuaire de meritxell  42.550000   1.600000
74      ad     san joan de casettas  42.566667   1.616667
75      ad                san julia  42.466667   1.500000
76      ad             santa coloma  42.500000   1.500000
77      ad     santa julia de loria  42.466667   1.500000
78      ad    sant joan de casellas  42.566667   1.616667
79      ad    sant joan de caselles  42.566667   1.616667
80      ad      sant julia de loria  42.466667   1.500000
81      ad               sant julia  42.466667   1.500000
82      ad                sant pere  42.583333   1.650000
83      ad    santuari de meritxell  42.550000   1.600000
84      ad                  segudet  42.550000   1.533333
85      ad                   sertes  42.466667   1.500000
86      ad                  sispony  42.533333   1.516667
87      ad                   soldeu  42.583333   1.666667
88      ad                   sornas  42.566667   1.533333
89      ad                     vila  42.533333   1.566667
90      ad                vixesarri  42.483333   1.466667
91      ad                xixerella  42.550000   1.483333
92      ae                 abu dabi  24.466667  54.366667
93      ae                abu dhabi  24.466667  54.366667
94      ae                 abu hail  25.285475  55.329611
95      ae                 abu zabi  24.466667  54.366667
96      ae                abu zabye  24.466667  54.366667
97      ae                abu zabyo  24.466667  54.366667
98      ae            ad dharbaniya  25.783333  55.933333
99      ae                    adgat  25.498669  56.358302

[100 rows x 4 columns]

In [19]:
restaurant_df = pd.DataFrame(columns=['id', 'name', 'cid', 'sid', 'rid', 'founded', 'age'])


for i in range(df_lat.shape[0]):
    r_date = random_date("01/01/2008", "12/31/2019", random.random())
    
    restaurant_df.loc[i] = [np.random.randint(100000, 999999), 
                                   namegenerator.gen(), 
                                   np.random.randint(100000, 999999), 
                                   np.random.randint(10000, 99999), 
                                   np.random.randint(100000, 999999),  
                                   r_date, 
                                   int(str(datetime.today())[:4]) - int(r_date[6:])]

In [20]:
restaurant_df

,id,name,cid,sid,rid,founded,age
0,463479,ready-khaki-chameleon,927000,83814,528662,05/29/2018,1
1,779995,blurry-amaranth-bandicoot,650460,29617,436098,02/20/2008,11
2,414349,skinny-cinnabar-bloodhound,677642,49969,687154,11/10/2016,3
3,150576,wheezy-chocolate-jellyfish,220914,83056,945190,08/07/2008,11
4,833286,lanky-tan-donkey,896076,39081,114218,12/17/2013,6
5,785251,cloudy-gamboge-shrimp,629071,27579,177727,01/26/2014,5
6,529901,leaky-gold-mastiff,524220,48084,374744,06/20/2009,10
7,791928,scummy-azure-echidna,532567,64770,993110,11/01/2017,2
8,657216,woolly-apricot-saola,865555,54461,751224,12/06/2011,8
9,358788,cloudy-jade-toad,426984,82267,950100,02/28/2009,10
10,504474,slimy-wisteria-rottweiler,874455,30515,189498,05/27/2016,3
11,459548,wimpy-cream-booby,710608,69456,163284,12/29/2009,10
12,666774,muzzy-teal-cattle,957593,44328,995974,09/03/2013,6
13,657748,jumpy-teal-sponge,951819,19339,320365,01/02/2012,7
14,845919,jumpy-peach-ladybird,509787,52839,801175,05/06/2009,10
15,662542,thirsty-pink-tang,771375,88200,158876,05/04/2009,10
16,518596,squirrely-azure-dormouse,771526,16938,787991,05/19/2019,0
17,846608,baggy-olivine-gharial,320226,10266,891592,05/23/2011,8
18,211341,seedy-cinnabar-shark,373281,49907,703170,07/25/2015,4
19,105187,shaky-ivory-boar,733328,27767,613254,02/07/2010,9
20,162475,lumpy-rose-whippet,785915,60740,911759,06/28/2011,8
21,121013,homely-emerald-gecko,499374,52428,214858,02/05/2009,10
22,639761,stealthy-lilac-beagle,219214,11850,791590,02/12/2017,2
23,186830,lanky-seashell-kangaroo,573052,30075,958810,02/04/2019,0
24,568533,hazy-russet-caiman,916335,86212,492377,05/16/2016,3
25,760531,breezy-xanthic-turkey,938663,14102,450756,06/27/2008,11
26,653757,grumpy-cornflower-fossa,489457,53302,622940,10/26/2015,4
27,194427,craggy-cobalt-clam,319754,84411,284937,01/20/2019,0
28,262350,boozy-puce-tetra,521356,52504,325603,09/20/2011,8
29,898426,tacky-ultramarine-dragon,653592,62348,462470,01/29/2017,2
...,...,...,...,...,...,...,...
70,267153,snoopy-green-retriever,821347,99922,757597,10/17/2019,0
71,913233,freaky-green-dhole,439150,93782,483530,08/17/2019,0
72,773601,ugly-aquamarine-falcon,700057,27662,775227,01/24/2018,1
73,688071,boozy-apricot-shrimp,906637,85324,132993,05/29/2009,10
74,960748,snappy-burgundy-monkey,591284,52956,694974,01/12/2015,4
75,600909,foggy-malachite-ladybird,933704,91315,343454,12/14/2010,9
76,975218,shaky-cerulean-stoat,744390,93159,789203,08/02/2014,5
77,525783,gummy-denim-termite,815011,76545,918029,05/09/2017,2
78,316700,droopy-azure-gar,524504,68079,678809,07/27/2008,11
79,928274,flabby-platinum-cat,967489,86029,571681,01/30/2017,2
80,131906,nerdy-alizarin-clam,565009,41476,832858,02/13/2013,6
81,692440,ready-crimson-scorpion,377089,86442,162307,05/19/2010,9
82,972162,lousy-smalt-scorpion,306383,20594,647401,09/08/2010,9
83,493669,stealthy-seashell-shrew,300579,56147,914845,02/03/2019,0
84,631786,boozy-thistle-giraffe,277567,38814,362416,06/14/2009,10
85,259198,pretty-copper-urchin,133837,80631,331358,10/19/2009,10
86,572971,bluesy-black-warthog,163144,33196,285707,10/29/2014,5
87,371990,paltry-corn-rabbit,482890,62052,276492,09/30/2017,2
88,724671,scaly-celadon-raccoon,196558,11966,520278,12/30/2017,2
89,652427,slaphappy-cream-heron,634973,20837,338140,04/29/2008,11
90,461574,blurry-brass-oyster,862767,25659,524203,03/25/2013,6
91,165112,skinny-persimmon-dachsbracke,684066,31586,855691,06/07/2017,2
92,509542,ugly-yellow-barb,665031,34569,570386,11/18/2009,10
93,877273,lumpy-saffron-albatross,592809,72351,142951,06/30/2012,7
94,905395,ugly-bronze-lobster,940000,94620,707635,02/26/2018,1
95,695164,crappy-gamboge-collie,893147,31347,753932,08/15/2012,7
96,108418,shaky-malachite-dogfish,950835,53933,421612,08/01/2015,4
97,245874,queasy-purple-rat,997895,60374,340208,07/31/2013,6
98,953638,pasty-apricot-chicken,739261,48615,724252,11/14/2008,11
99,990529,nerdy-salmon-crab,380136,17085,999726,05/22/2011,8

In [21]:
coordinates = pd.DataFrame(columns = ['id', 'latitude', 'longitude', 'city', 'country'])

coordinates['id'] = restaurant_df['cid']
df_ll = get_latitude_longititude()[:100]
coordinates['latitude'] = df_ll['Latitude']
coordinates['longitude'] = df_ll['Longitude']
coordinates['city'] = df_ll['City']
coordinates['country'] = df_ll['Country']

coordinates

        id   latitude  longitude                     city country
0   852159  42.483333   1.466667                    aixas      ad
1   539090  42.466667   1.500000               aixirivali      ad
2   228893  42.466667   1.500000               aixirivall      ad
3   778605  42.466667   1.500000                aixirvall      ad
4   648040  42.466667   1.483333                 aixovall      ad
5   987159  42.500000   1.516667                  andorra      ad
6   171746  42.500000   1.516667         andorra la vella      ad
7   656290  42.500000   1.516667          andorra-vieille      ad
8   703023  42.500000   1.516667                  andorre      ad
9   741358  42.500000   1.516667       andorre-la-vieille      ad
10  192404  42.500000   1.516667          andorre-vieille      ad
11  608417  42.566667   1.516667                ansalonga      ad
12  182370  42.533333   1.533333                    anyos      ad
13  375961  42.583333   1.516667                    arans      ad
14  787265  42.566667   1.483333                  arinsal      ad
15  941398  42.450000   1.500000                  aubinya      ad
16  220737  42.450000   1.500000                  auvinya      ad
17  517422  42.483333   1.466667                bicisarri      ad
18  997028  42.483333   1.466667               bixessarri      ad
19  901720  42.483333   1.466667                bixisarri      ad
20  940457  42.566667   1.600000                  canillo      ad
21  219112  42.533333   1.566667               casas vila      ad
22  876367  42.466667   1.500000                  certers      ad
23  879385  42.466667   1.500000                   certes      ad
24  579269  42.466667   1.500000               eixirivall      ad
25  791941  42.550000   1.516667                   el pui      ad
26  484161  42.533333   1.583333                 els bons      ad
27  261118  42.616667   1.550000                el serrat      ad
28  120847  42.583333   1.633333                els plans      ad
29  845722  42.583333   1.650000                el tarter      ad
..     ...        ...        ...                      ...     ...
70  881913  42.566667   1.500000            puiol del piu      ad
71  765564  42.583333   1.633333                   ransol      ad
72  306792  42.550000   1.600000  sanctuaire de meritxeli      ad
73  403329  42.550000   1.600000  sanctuaire de meritxell      ad
74  230935  42.566667   1.616667     san joan de casettas      ad
75  449425  42.466667   1.500000                san julia      ad
76  596602  42.500000   1.500000             santa coloma      ad
77  505253  42.466667   1.500000     santa julia de loria      ad
78  793593  42.566667   1.616667    sant joan de casellas      ad
79  125491  42.566667   1.616667    sant joan de caselles      ad
80  759411  42.466667   1.500000      sant julia de loria      ad
81  542162  42.466667   1.500000               sant julia      ad
82  839899  42.583333   1.650000                sant pere      ad
83  356412  42.550000   1.600000    santuari de meritxell      ad
84  454243  42.550000   1.533333                  segudet      ad
85  527375  42.466667   1.500000                   sertes      ad
86  447285  42.533333   1.516667                  sispony      ad
87  472793  42.583333   1.666667                   soldeu      ad
88  597221  42.566667   1.533333                   sornas      ad
89  981027  42.533333   1.566667                     vila      ad
90  362073  42.483333   1.466667                vixesarri      ad
91  335802  42.550000   1.483333                xixerella      ad
92  407180  24.466667  54.366667                 abu dabi      ae
93  476136  24.466667  54.366667                abu dhabi      ae
94  834123  25.285475  55.329611                 abu hail      ae
95  234207  24.466667  54.366667                 abu zabi      ae
96  229120  24.466667  54.366667                abu zabye      ae
97  427740  24.466667  54.366667                abu zabyo      ae
98  476523  25.783333  55.933333            ad dharbaniya      ae
99  811186  25.498669  56.358302                    adgat      ae

[100 rows x 5 columns]

In [28]:
speciality_df = pd.DataFrame(columns = [ 'id', 'name', 'calories', 'price', 'cuisine_name', 'is_vegan', 
                                        'is_gluten_free', 'is_lactose_free'])

specialityNamesList = [line.strip() for line in open("specialyNames.txt", 'r', encoding="utf8")]
cuisineNamesList = [line.strip() for line in open("cuisineNames.txt", 'r', encoding="utf8")]

speciality_df['id'] = restaurant_df['sid']
for i in range(restaurant_df.shape[0]):
    speciality_df.loc[i]['name'] = random.choice(specialityNamesList)
    speciality_df.loc[i]['calories'] = random.randrange(50, 1000)
    speciality_df.loc[i]['price']= random.randrange(1, 3500)
    speciality_df.loc[i]['cuisine_name'] = random.choice(cuisineNamesList)
    speciality_df.loc[i]['is_vegan'] = random.randrange(100) < 25
    speciality_df.loc[i]['is_gluten_free'] = random.randrange(100) < 15
    speciality_df.loc[i] ['is_lactose_free'] = random.randrange(100) < 15

In [29]:
speciality_df

,id,name,calories,price,cuisine_name,is_vegan,is_gluten_free,is_lactose_free
0,83814,"Vol-au-vent, with Oysters, a la Bechamelle",882,2124,Mediterranean cuisine,False,False,False
1,29617,"boiled potatoes, mustard sauce",292,1601,Laotian,False,False,False
2,49969,"A.C. Bourgogne RosÃ© ""Marsannay la CÃ´te"" 1976",75,3324,Mexican,False,False,False
3,83056,"Potatoes-- Sweet, Southern style",94,3232,Mangalorean,False,False,True
4,39081,Anglu rugtais,62,2804,Goan,False,False,False
5,27579,Scotch [Sour],212,3168,Balochi,False,True,True
6,48084,Vom Grill: Kalbssteak 150 g,356,627,Albanian,False,True,False
7,64770,"Fresh Asparagus, hollandaise sauce",773,300,Ukrainian,False,False,False
8,54461,"Drambuie, Cordial",404,1791,Lithuanian,False,False,False
9,82267,Chesire Cheese,434,1276,Crimean Tatar,False,False,False
10,30515,French Coffe - American Coffee - Maxwell Insta...,812,1923,Italian cuisine,True,True,True
11,69456,Iced punch veuve Cliquot,583,2186,Belarusian,True,False,True
12,44328,Neopolitan Ice,100,1074,Punjabi,True,True,False
13,19339,"Beer, Draught: Lowenbrau",358,733,Keralite,False,True,False
14,52839,Combination Louis,479,3384,Indian cuisine,False,True,False
15,88200,Christian Bros. Sauterne,673,460,Jamaican,False,False,False
16,16938,"Coq au Vin, Bourguignone Chicken cooked in a b...",819,1551,Gujarati,False,False,False
17,10266,Cook's Imperial Champagne Brut,294,1052,Hyderabad,False,False,False
18,49907,"Roast Ribs of Beef, String Beans, Potatoes",317,1589,Circassian,False,False,False
19,27767,Oysters: Broiled Saddle Rock,320,1347,Persian,True,False,False
20,60740,Le Filet de Boeuf Strogonoff Riz Pilaw,903,1539,Romanian,False,False,False
21,52428,"Shrimp Salad Bowl with Egg Slices, Tomato Quar...",557,3454,Hyderabad,True,True,False
22,11850,"HEARTS OF LETTUCE AND TOMATO, Russian Dressing",520,216,English,False,True,False
23,30075,"Krotes Royal Scharzberg Moselle Wine, 1900",787,2474,Irish,False,False,False
24,86212,Oysters Ã la Ancienne,275,1604,Malay,True,False,False
25,14102,"Illuminirtes Rahmeis, Mandel Aufsatz",690,407,French,True,False,True
26,53302,Cauliflowers Sautees Chopped Herbs,96,2461,Berber,False,False,False
27,84411,Rudesheimer Kaffee,582,2252,Malaysian Chinese cuisine,False,False,False
28,52504,saumon fumÃ© norvÃ©gien avec un verre de vodka,720,2668,Malaysian Indian cuisine,False,False,True
29,62348,Small sirloin tomato sauce,864,2708,Lebanese,False,False,False
...,...,...,...,...,...,...,...,...
70,99922,Cold boiled Rice,893,2813,Indonesian,False,False,True
71,93782,Le filet de bÅ“uf Strogonoff,186,3447,Gujarati,True,False,False
72,27662,"Sazera Cde. Forge & Sons, 1795 Cognac",643,1739,Chechen,False,False,False
73,85324,Chilled Fruit Juice,876,2916,Sri Lankan,False,False,False
74,52956,Fresh Pineapple with a Kirsch liqueur,676,351,Azerbaijani,False,False,False
75,91315,"Pork Chops, broiled or saute (2)",913,1049,Nepalese,False,False,False
76,93159,"Club Steak, plain",463,3110,Mediterranean cuisine,False,False,False
77,76545,"Soft Clams, Fried",886,2618,Japanese,False,False,False
78,68079,"Tenderloin, for one with mushrooms",284,2931,Tatar,False,False,False
79,86029,Mousse of zucchini with shrimp and lobster,557,1791,Jewish,True,False,False
80,41476,FRESH FOIE GRAS,89,2167,Bangladeshi,False,False,False
81,86442,SHERBET: Orange,662,495,Soviet,True,True,True
82,20594,"Tea, Coffee or Chocolate, Almonds, Bon Bons, T...",690,1464,Persian,True,False,False
83,56147,Terrapin Ã l'Indiana,69,776,Karnataka,False,False,False
84,38814,Plovers with cresses,265,1293,Caribbean,False,False,False
85,80631,"Picked-Up Weakfish au Gratin, Poached Egg",624,2851,Louisiana Creole,True,False,False
86,33196,Henkell Kupferberg,682,2383,Italian cuisine,False,True,False
87,62052,Small Pot Tea with Cream,660,915,Pakistani,False,False,False
88,11966,"Tea to Order, English Breakfast, in pots",652,706,Soviet,False,False,False
89,20837,Pork & Beans New York Style,588,1717,Rajasthani,False,True,False
90,25659,"baked spanish mackerel, bordelaise",624,2261,Anglo-Indian,False,False,False
91,31586,Cold-- Beef,339,295,Turkish,False,True,False
92,34569,Gerauch Lachs und Aal,770,2648,Peruvian,False,False,False
93,72351,Fried Yorkshire bacon,686,2545,Awadhi,True,True,False
94,94620,"Salmon Salad, Mayonnaise Dressing",903,3270,Pennsylvania Dutch,False,False,False
95,31347,Fresh Montana Cherries,634,1176,Kazakh,False,True,False
96,53933,"1207 1963er Graacher Goldwingert, M, Original-...",88,3341,Malay,False,False,True
97,60374,Old fashinned Rice Pudding,433,978,Sami,False,True,False
98,48615,"Chas Heidsieck, Extra Dry",263,699,Estonian,True,True,False
99,17085,"Filets of English Sole, Bercy",996,691,Russian,False,False,False

In [37]:

review_df = pd.DataFrame(columns= ['id', 'name', 'rating', 'description'])

### Add Noise

One case we thought for noise is that some restaurants either do not have specility dish or their speciality is missing. Thus in restaurant dataframe in column sid we added some null values and also we changed some ids from speciality so that sid from restaurants and id from speciality do not much.

In [35]:
nn = int(restaurant_df.shape[0] * 1/100)

for i in range(nn):
    restaurant_df.loc[np.random.randint(0, restaurant_df.shape[0]-1)]['sid'] = 'null'
    speciality_df.loc[np.random.randint(0, restaurant_df.shape[0]-1)]['id'] = 
                      np.random.randint(1000, 9999)

In [36]:
restaurant_df

,id,name,cid,sid,rid,founded,age
0,131574,crappy-pear-vulture,152693,71811,808138,07/05/2015,4
1,330104,bumpy-vermilion-manatee,285009,88897,770318,02/13/2012,7
2,674697,seedy-puce-spider,678091,91070,978995,02/16/2011,8
3,882751,randy-fuchsia-havanese,198207,93764,857665,02/18/2014,5
4,952485,gummy-periwinkle-ibis,665064,75058,423828,01/11/2010,9
5,863697,greasy-viridian-binturong,893890,65207,664664,09/09/2009,10
6,811565,crabby-chestnut-penguin,240896,28884,264142,08/04/2015,4
7,853642,sleazy-burgundy-tiger,937418,75825,584804,05/09/2014,5
8,475729,thirsty-olivine-sheepdog,177631,77822,884088,06/26/2016,3
9,619160,thirsty-heliotrope-kiwi,535043,73542,727536,06/01/2015,4
10,695191,pretty-eggplant-weasel,475562,92523,684056,03/04/2016,3
11,675170,stealthy-green-chimpanzee,725829,44570,145759,01/13/2013,6
12,393600,gamy-grey-dollar,129044,52424,602003,03/06/2015,4
13,371294,clammy-firebrick-cattle,627154,27481,671623,07/15/2016,3
14,499944,shaky-thistle-tetra,386806,36001,939210,02/25/2017,2
15,831737,gamy-brown-llama,588302,80778,124820,01/14/2010,9
16,452263,squirrely-ruby-dog,373729,87739,574959,03/09/2015,4
17,802903,bumpy-harlequin-iguana,134857,43795,374647,01/10/2016,3
18,959163,nippy-copper-slug,188091,60777,434328,09/21/2014,5
19,745453,shaggy-harlequin-ferret,269409,87689,844653,04/08/2013,6
20,272115,craggy-turquoise-oriole,643625,28203,800442,06/03/2018,1
21,818054,hazy-ultramarine-bullfrog,961721,72455,518955,02/03/2010,9
22,971344,trippy-tomato-newt,140271,99251,265585,03/14/2013,6
23,807993,droopy-dandelion-octopus,397066,69115,775356,01/07/2012,7
24,624947,grumpy-celadon-indri,643356,46115,672362,12/07/2018,1
25,285883,stinky-blue-frog,814194,62363,950736,07/20/2018,1
26,358697,shabby-burgundy-coati,399313,50286,665632,03/04/2008,11
27,347717,leaky-cerise-whippet,776643,23883,904863,05/10/2015,4
28,963515,flabby-copper-mole,801024,73618,843327,09/07/2019,0
29,451163,slimy-charcoal-barb,220655,69312,675636,06/26/2012,7
...,...,...,...,...,...,...,...
70,451831,flimsy-razzmatazz-numbat,895321,12057,975824,11/29/2008,11
71,946892,seedy-denim-dollar,277514,46246,770691,08/02/2016,3
72,375830,scaly-ruby-slug,275101,57653,449542,11/12/2018,1
73,561007,sleepy-azure-tiger,739679,63230,353101,10/06/2017,2
74,459091,slaphappy-charcoal-chinchilla,325153,52113,909860,04/11/2010,9
75,723172,shaggy-dandelion-bongo,464454,52766,251290,04/05/2013,6
76,655666,gimpy-cyan-markhor,653897,null,910922,01/08/2008,11
77,714606,pasty-black-panda,605847,95282,397606,11/03/2013,6
78,646685,pokey-plum-bobcat,363958,64659,655184,06/17/2014,5
79,994213,leaky-russet-wombat,242567,26956,571849,02/24/2012,7
80,323773,gamy-bistre-bee,888549,99721,675116,04/18/2019,0
81,685570,flabby-ultramarine-dolphin,882955,60161,838992,04/02/2009,10
82,691758,scanty-beige-zonkey,304879,57074,600989,11/21/2012,7
83,839348,cloudy-periwinkle-rottweiler,594959,88967,749948,12/19/2017,2
84,574790,pretty-red-skunk,266838,28879,560130,12/26/2009,10
85,305212,hasty-cornflower-emu,275352,32906,490274,01/19/2012,7
86,436649,greasy-olivine-orangutan,739364,61583,677820,01/21/2008,11
87,575807,snappy-malachite-cockroach,944979,46946,782354,11/22/2008,11
88,273188,smelly-orchid-indri,280804,92249,976435,03/28/2015,4
89,250145,paltry-platinum-bandicoot,754315,25833,453927,07/06/2014,5
90,118120,sunny-purple-oyster,854434,80294,572314,10/30/2016,3
91,383928,queasy-peach-ragdoll,786142,75333,790053,11/13/2019,0
92,154906,surly-ruby-whippet,229469,62613,986218,11/18/2016,3
93,233117,hilly-firebrick-cat,526904,68604,489804,08/16/2014,5
94,293067,frumpy-ivory-tamarin,653744,34460,843499,01/11/2008,11
95,450954,stealthy-goldenrod-mau,815326,43564,441943,02/01/2014,5
96,374457,pretty-olive-stingray,931169,35438,710013,10/10/2011,8
97,605840,snappy-purple-hyrax,206184,68924,681581,08/12/2009,10
98,316070,nippy-pink-clam,287673,21148,329285,04/10/2008,11
99,913574,gloppy-sapphire-monster,671894,18724,592164,07/25/2019,0