In [2]:
import pandas as pd
import numpy as np

import namegenerator
from datetime import datetime, timedelta
import random
import time

### Noise Generation
To simulate errors in the age of the restaurants, we subtract years from the 'age' column of the dataframe


Noise is added for the following fields:
- restaurant age
- restaurant founded
- specialty price
- specialty calories
- reviewer rating

In [3]:
def export_dataset(df, filename):
    df.to_csv(filename)

In [16]:
def insert_age_noise(df, errors=100):
    for i in range(errors):
        # throw a random number to use as index of the df
        pos = np.random.randint(0, len(df))
        if pos%2:
            df.loc[pos, 'age'] -= 2
        else:
            df.loc[pos, 'age'] += 2

In [ ]:
def insert_founded_noise(df, errors=100):
    for i in range(errors):
        # throw a random number to use as index of the df
        pos = np.random.randint(0, len(df))
        if pos%2:
            df.loc[pos, 'age'] -= 2
        else:
            df.loc[pos, 'age'] += 2

In [42]:
def add_missing_values(df, number, col=None):
    df_cols = list(restaurant_df.columns)
    col_idx = col
    for i in range(number):
        pos = np.random.randint(0, len(df))
        if col == None:
            # mess up the whole dataframe randomly
            col_idx = df_cols[np.random.randint(2, len(df_cols))]

        df.loc[pos, col_idx] = None

In [43]:
restaurant_df = pd.read_csv('restaurants_df.csv')
# insert_age_noise(restaurant_df, 50)
add_missing_values(restaurant_df, 200)

In [44]:
restaurant_df

,asd,id,name,cid,sid,rid,founded,age
0,0,247880,wheezy-rust-octopus,NaN,52569.0,313618.0,01/13/2018,NaN
1,1,746686,trippy-lime-mist,335751.0,48535.0,187623.0,02/14/2018,NaN
2,2,557217,wiggy-saffron-capybara,773828.0,47909.0,128097.0,03/26/2012,7.0
3,3,179077,beady-white-butterfly,397655.0,72349.0,981131.0,12/17/2017,2.0
4,4,472896,flimsy-tangerine-moth,494931.0,72392.0,837594.0,None,NaN
...,...,...,...,...,...,...,...,...
95,95,754236,smelly-purple-vole,357190.0,33517.0,192533.0,06/22/2011,NaN
96,96,808874,lousy-ochre-wolverine,NaN,40855.0,819604.0,08/21/2018,1.0
97,97,386145,geeky-champagne-quetzal,410832.0,37878.0,371321.0,08/28/2008,11.0
98,98,993747,gummy-coral-tarsier,NaN,35330.0,272094.0,03/20/2013,6.0
99,99,171070,grumpy-peach-gecko,842242.0,79162.0,NaN,07/15/2014,5.0