In [2]:
import pandas as pd
import numpy as np

import namegenerator
from datetime import datetime, timedelta
import random
import time

### Noise Generation
To simulate errors in the age of the restaurants, we subtract years from the 'age' column of the dataframe


Noise is added for the following fields:
- restaurant age
- restaurant founded
- specialty price
- specialty calories
- reviewer rating

In [3]:
def export_dataset(df, filename):
    df.to_csv(filename)

In [16]:
def insert_age_noise(df, errors=100):
    for i in range(errors):
        # throw a random number to use as index of the df
        pos = np.random.randint(0, len(df))
        if pos%2:
            df.loc[pos, 'age'] -= 2
        else:
            df.loc[pos, 'age'] += 2

In [ ]:
def insert_founded_noise(df, errors=100):
    for i in range(errors):
        # throw a random number to use as index of the df
        pos = np.random.randint(0, len(df))
        if pos%2:
            df.loc[pos, 'age'] -= 2
        else:
            df.loc[pos, 'age'] += 2

In [15]:
def add_missing_values(df, number, col=None):
    for i in range(number):
        pos = np.random.randint(0, len(df))
        df.loc[pos, col] = None

In [22]:
restaurant_df = pd.read_csv('restaurants_df.csv')
insert_age_noise(restaurant_df, 50)
add_missing_values(restaurant_df, 30, 'age')

In [23]:
restaurant_df

,Unnamed: 0,id,name,cid,sid,rid,founded,age
0,0,247880,wheezy-rust-octopus,996631,52569,313618,01/13/2018,1.0
1,1,746686,trippy-lime-mist,335751,48535,187623,02/14/2018,1.0
2,2,557217,wiggy-saffron-capybara,773828,47909,128097,03/26/2012,7.0
3,3,179077,beady-white-butterfly,397655,72349,981131,12/17/2017,2.0
4,4,472896,flimsy-tangerine-moth,494931,72392,837594,05/10/2017,NaN
...,...,...,...,...,...,...,...,...
95,95,754236,smelly-purple-vole,357190,33517,192533,06/22/2011,6.0
96,96,808874,lousy-ochre-wolverine,741155,40855,819604,08/21/2018,NaN
97,97,386145,geeky-champagne-quetzal,410832,37878,371321,08/28/2008,9.0
98,98,993747,gummy-coral-tarsier,428450,35330,272094,03/20/2013,8.0
99,99,171070,grumpy-peach-gecko,842242,79162,416302,07/15/2014,3.0